.h3-height {
    height: 40px;
}

.ingredients-height {
    height: calc(100% - 85px)
}

.ingredients-color {
    background-color: rgb(253, 229, 153);
}

.btn-add-menu {
    position: absolute;
    bottom: 15px;

}

.small-padding-box {
    padding: 30px;
}
