body {
    font-size: 16px;
    background-color: #f1f1f1;
}
body.menu-open  .sidebar {
    display: block;
}
h1 {
    font-size: 32px;
    font-weight: bold;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 20px;
}
input {
    max-width: 100%;
    padding-left: 5px;
}
img {
    max-width: 100%;
}
a:hover {
    cursor: pointer;
}

.container {
    max-width: 1480px;
}

.header {
    width: 100%;
    height: 100px;
    background-color: rgb(244, 178, 107);
}
.header.sub {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
    height: auto;
}
.mobile-menu {
    background-color: #fff;
}
.mobile-menu .menu-items {
    display: none;
    width: 100%;
    background-color: #fff;
    z-index: 1;
    position: absolute;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}
.mobile-button i {
    font-size: 26px;
    color: #000;
}
.mobile-bar {
    height: 60px;
    position: fixed;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
    z-index: 1;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}
.mobile-bar-off-set {
    height: 60px;
    display: block;
}
.mobile-bar h2 {
    font-size: 22px;
    margin-bottom: 0px;
}
.scroll-view {
    height: calc(100vh - 258px);
    overflow-y: scroll;
}
#dishDetailView .scroll-view {
    height: calc(100vh - 100px);
}

.label {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80px;
}
.label.normal-padding {
    padding-left: 15px;
    padding-right: 15px;
}
.list-item {
    background-color: #e7e7e7;
    padding: 10px;
    margin-bottom: 10px;
}
.list-item:last-child {
    margin-bottom: 0px;
}
.item-box {
    height: 100%;
    display: block;
    background-color: #fff;
    color: #000;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: 0.4s all ease;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.1);
}
.item-box:hover {
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.3);
    transform: scale(1.02);
}
.item-box.no-background {
    background-color: transparent;
}
.item-box img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.item-column {
    margin-bottom: 30px;
}


.btn-primary-color {
    background-color: rgb(244, 178, 107);
    border: none;
    font-weight: bold;
    transition: 0.4s all ease;
}
.btn-primary-color:hover {
    background-color: rgb(244, 178, 107);
}
.btn {
    border-radius: 3px;
}


.full-vh {
    height: calc(100vh - 100px);
}
.p-max-width {
    max-width: 600px;
}

.padding {
    padding: 30px;
}
.padding-left {
    padding-left: 30px;
}
.no-padding-bottom {
    padding-bottom: 0px;
}

.spacing-large {
    height: 120px;
}
.spacing-medium {
    height: 90px;
}
.spacing {
    height: 60px;
}
.spacing-small {
    height: 30px;
}
.spacing-x-small {
    height: 15px;
}

.border-bottom {
    border-bottom: 1px solid #e7e7e7;
}

.border-bottom-dark {
    border-bottom: 3px solid gray;
}
.border-right {
    border-right: 1px solid #e7e7e7;
}
.border-left {
    border-left: 1px solid #e7e7e7;
}

.h-spacing {
    width: 30px;
}
.h-spacing-small {
    width: 15px;
}

.line {
    height: 3px;
    border-top: 1px solid gray;
    margin-top: 5px;
    margin-bottom: 5px;
}