.padding {
    padding: 30px 20px;
}
.spacing-large {
    height: 120px;
}
.spacing-medium {
    height: 90px;
}
.spacing {
    height: 60px;
}
.spacing-small {
    height: 30px;
}
.spacing-x-small {
    height: 15px;
}

.h-spacing {
    width: 30px;
}